footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 40px;
    background-color: rgb(40, 47, 64);
    color:white;
}
.footer_border {
    grid-column: span 4;
    display: flex;
    background-color: #026881;
    justify-content: center;
    align-items: center;   
}
.footer_sidebar {
    display: flex;
    flex-direction: column;    
}
.footer_form {
    display:flex;
    flex-direction: column;
}
.footer_form>form>input {
    height: 35.8px;
    margin-bottom: 15px;
    margin-right: 60px;
    padding-left: 15px;
}
.footer_contact {
    margin-left: 60px;
}
.f_post_wrapper {
    display:grid;
    grid-template: auto auto auto / auto 1fr;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.f_b {
    width: 100%;
    max-width: 54px;
    height: 100%;
}